/*nav {*/
/*  background-color: var(--primary);*/
/*  width: 100%;*/
/*  height: 62px;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*}*/


ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: var(--white);
}

.link {
  color: var(--primary);
  font-weight: 600;
  margin: 10px;
}
