/*SMART TABLE COLUMNS*/

.priority-0 {
    display: table-cell;
}
.priority-1 {
    display: table-cell;
}
.priority-2 {
    display: table-cell;
}
.priority-3 {
    display: table-cell;
}
.priority-4 {
    display: table-cell;
}
.priority-5 {
    display: table-cell;
}
.priority-6 {
    display: table-cell;
}
.priority-7 {
    display: table-cell;
}
.priority-8 {
    display: table-cell;
}
.priority-9 {
    display: table-cell;
}
.priority-10 {
    display: table-cell;
}
.priority-11 {
    display: table-cell;
}
.priority-12 {
    display: table-cell;
}

@media only screen and (max-width: 1200px) {
    .priority-12 {
        display: none;
    }
}

@media only screen and (max-width: 1100px) {
    .priority-11 {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .priority-10 {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .priority-9 {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .priority-8 {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .priority-7 {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .priority-6 {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .priority-5 {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .priority-4 {
        display: none;
    }
}

@media only screen and (max-width: 300px) {
    .priority-3 {
        display: none;
    }
}

@media only screen and (max-width: 200px) {
    .priority-2 {
        display: none;
    }
}
@media only screen and (max-width: 100px) {
    .priority-1 {
        display: none;
    }
}
@media only screen and (max-width: 1px) {
    .priority-0 {
        display: none;
    }
}


