/*.logo {*/
/*  flex-basis: 300px;*/
/*  flex-grow: 0;*/
/*  flex-shrink: 0;*/
/*}*/

h3 + h4 {
  color: var(--white);
}

.link {
  color: var(--primary);
}

 .logo-link {
   flex-basis: 250px;
   flex-grow: 0;
   flex-shrink: 0;
 }

 .logo {
   margin-top: 5px;
 }

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 10px;
}

.stacked-navbars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  /*margin : 10px;*/
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);


}
.greeting {
  color: white;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color:red;
  padding: 20px;
}


@media only screen and (max-width: 1200px) {
  .greeting {
    display: none;
  }
}

@media only screen and (max-width: 810px) {
  .logo-link {
    display: none;
  }

  .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}


