.white-button {
    color: var(--primary);
    background-color: var(--white);
    border-radius: 5px;
    border: none;
    padding: 2px;
    margin: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.black-button {
    color: var(--white);
    background-color: var(--black);
    border-radius: 5px;
    border: none;
    padding: 2px;
    margin: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.red-button {
    color: var(--white);
    background-color: var(--primary);
    border-radius: 5px;
    border: none;
    padding: 2px;
    margin: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
