.demo-tile {
    flex-basis: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.demo-tile-link {
      color: var(--white);
      font-weight: 600;
}

.demo-tile-username {
    color: var(--white);
}