@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
    --primary: red;
    --black: #292929;
    --white: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 24px;
}

.back-button-link {
    color: var(--white);
}


/* De buitenste container is altijd de volledige schermbreedte. Het is een flexbox container die zijn inhoud altijd netjes horizontaal centreert */
.outer-content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*De binnenste container is maximaal 1400px breed, zodat het er ook goed uitziet op brede schermen.
Hij mag krimpen als het scherm minder breed wordt, maar niet groeien als er meer ruimte is.*/
.inner-content-container {
    flex-basis: 1200px;
    flex-shrink: 1;
    flex-grow: 0;
    /*We voegen margin toe aan de linker- en rechterkant, zodat de content nooit helemaal tegen de rand gedrukt kan worden*/
    margin: 10px 0 0 0;
    /*We zorgen er ook voor dat deze flex-item op haar beurt ook weer een flexbox container is, waarin alle children onder elkaar komen te staan*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}


html, body {
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    background-color: var(--black);
}

header {
    height: 195px; /* adjust to your header's height */
    background-color: var(--primary);
    position: sticky;
    top: 0;
    /*box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);*/
}

main {
    min-height: calc(100% - 240px);
    background-color: var(--black);
}

section {
    background-color: var(--black);
}

article a {
    color: var(--white);
    font-weight: 600;

}

main div form {
    background-color: var(--primary);
    color: var(--white);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

footer {
    height: 120px; /* adjust to your footer's height */
    color: var(--white);
    background-color: var(--black);
    padding: 20px 0;
    text-align: center;
}

img {
    width: 100%;
}


/*ENTITY LIST PAGES*/
table {
    background-color: var(--white);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}

thead {
    background-color: var(--primary);
}

th {
    padding: 5px;
}

td {
    padding: 0px 5px 0px 5px;
    color: var(--black);
    font-weight: 500;
}

tr a {
    color: var(--primary);
    font-weight: 600;
}
.white {
    color: var(--white);
}
/*NOTIFICATION PAGES*/
.notification-article {
    flex-basis:  500px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 10px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

/*ENTITY DETAILS PAGES*/
.details-section {
    background-color: var(--primary);
    color: var(--white);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.details-info {
    flex-basis: 600px;
    flex-shrink: 1;
    background-color: var(--white);
    color: var(--primary);
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details-info h4 {
    color: var(--black);
}

.details-info a {
    color: var(--primary);
}

.details-controls {
    flex-basis: 600px;
    flex-shrink: 2;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.details-controls > h3 {
    color: var(--black);
}

/* ENTITY FORM PAGES*/
.form {
    background-color: var(--primary);
    color: var(--white);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form a {
    color: var(--white);
}
textarea {
    margin: 10px;
}

label {
    margin: 5px;
}

article > span {
    margin: 5px;
}

.form-input {
    flex-basis: 600px;
    flex-shrink: 1;
    background-color: var(--white);
    color: var(--primary);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.form-input h3 {
    color: var(--black);
}

.form-controls {
    flex-basis: 600px;
    flex-shrink: 2;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form-controls > h3 {
    color: var(--black);
}



/*ADMIN PAGES*/
.list-backdrop {
    background-color: var(--primary);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.panel-controls {
    width: 500px;
    background-color: var(--primary);
    border-radius: 10px;
    margin: 10px ;
    padding: 10px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel-controls a {
    color: var(--white);
}



